.Header{
    height:48px;
    align-items: stretch;
    padding: 0 24px ;
}

img{
    height:28px;
}


.Header div {
    display: flex;
    align-items: center;
    margin-left: 80%;
    height:100%;
    justify-content: right;
}

