

.purchaseHeading{
    font-size: 16px;
    width:100%;
    text-align: center;
}

.filterComponentsContainer{
    display: flex;
    align-items:center ;
    flex-direction: row;
    width: 100%;
    padding-left:19rem;
}

th{
    /* height: 6rem !important; */
    text-align: center !important;
}

tr{
    text-align: center;
}

.purchaseTable{
    display: table;
    width: 100%;
    border-width: 5px;
    border-color: black;
 
}

/* .purchaseTableElems{
    border-width: 20px;
    background-color: blue;
} */

.PurchaseDetailsDataDiv{
    display: contents;
}

.innerInnerTables{
    margin:2rem
}

.innerInnerTablesDiv{
   display: grid;
}

.Purchaseheading{
    height: 4rem;
}

.purchaseDetailsTD{
    margin: 10px;
}