.App{
    display:grid;
    grid-template:"nav header" min-content
                  "nav main" 1fr/ min-content 1fr;
    min-height: 100vh;
}


/* styling grids of the components */
/* other css done in their own files */

.NavBarContainer{
    grid-area: nav;   
}

.iconContainer{
 font-size: 50px;
}

.MenuIcons{
    font-size:20-px;
}