.App{
    display:grid;
    grid-template:"nav header" min-content
                  "nav filters" min-content
                  "nav main" 1fr/ min-content 1fr;
    min-height: 100vh;
}


/* styling grids of the components */
/* other css done in their own files */


.MuiSvgIcon-root {
    font-size:2.7rem;
  }
